
@if(collection != null){
  <div class="col-container">
    <div class="item-photo horizontal-scroll">
      @for(item of list; track item.itemId){
        <img src="{{item.itemPhoto}}" alt="">
      }
    </div>
    <div class="image-carousel">
      <button class="nav-button" (click)="prevImage()" [disabled]="currentImageIndex === 0">&#10094;</button>

      <img [src]="currentImage" class="carousel-image" alt="item image" />

      <button class="nav-button" (click)="nextImage()" [disabled]="currentImageIndex === list.length - 1">&#10095;</button>
    </div>
    <div class="info-container">
      <p class="collection title">{{collection.collectionName}}</p>
      <div class="owner-info">
        @if(owner){<p class="collection-owner">{{owner.name}} {{owner.lastname}}</p>}
        <button class="chat" >Contact Seller</button>
      </div>
      <p class="description">{{collection.description}}</p>
      <p class="date">Collection Date: {{collection.collectionDate}}</p>
      <p class="completed">Completed: {{(collection.completed ? 'yes' : 'no')}}</p>
      <div class="price">Price: {{collection.salePrice}}€</div>
      <div class="actions">
        <button>Buy Now</button>
        <button>Add To Cart</button>
        <button>Save For Later</button>
      </div>
    </div>
  </div>
}
@if(item != null){
  <app-item-card [item]='item'></app-item-card>
}
