<div  class="item-detail">
    <h2>id: {{ item.itemId }}</h2>
    <p>Collection Id: {{ item.collectionId }}</p>
    <p>User Id: {{ item.userId }}</p>
    <p>Name: {{ item.itemName }}</p>
    <p>Description: {{ item.itemDescription }}</p>
    <p>Photo: {{ item.itemPhoto }}</p>
    @if(item.condition != null){<p>Condition: {{ item.condition }}</p>}
    @if(item.purchaseDate != null){ <p>purchase Date : {{item.purchaseDate }}</p>}
    @if(item.releaseDate != null){ <p>Release Date : {{item.releaseDate }}</p>}
    @if(item.purchasePrice != null){<p>Purchase Price: {{ item.purchasePrice }}</p>}
    @if(item.salePrice != null){<p>Sale Price: {{ item.salePrice }}</p>}
    @if(item.itemVersion != null){<p>Version: {{ item.itemVersion }}</p>}
    @if(item.itemEdition != null){<p>Edition: {{ item.itemEdition }}</p>}
    <p>For sale: {{ item.forSale }}</p>
    @if(item.userId == currentUser.userId){
      <button (click)="onDelete()"> Delete Item</button>
      <button (click)="onUpdate()"> Update Item</button>
    }
</div>
