
<div class="item-grid">
<div class="item-card">
  <div class="image-container">
    <img [src]="item.itemPhoto" alt="{{ item.itemName }}" />
    <div class="like-badge">
      <i class="bi bi-heart"></i> 
    </div>
  </div>
  <div class="item-info">
    <h3 class="item-title">{{ item.itemName }}</h3>
    <p class="item-description">{{ item.itemDescription }}</p>

    @if(item.salePrice != null) {
      <div class="price-row">
        <span class="label">Offerta attuale</span>
        <span class="price">{{ item.salePrice }} €</span>
      </div>
    }
    
    @if(item.userId == currentUser.userId){
      <div class="owner-buttons">
        <button (click)="onDelete()">Elimina</button>
        <button (click)="onUpdate()">Modifica</button>
      </div>
    }
  </div>
</div>

