.add-btn{
  margin: 20px;
  margin-bottom: 0;
  padding: 10px;
  background-color: #3174f0;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-btn :hover{
  background-color: #1258db;
}

.wishlist-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.empty-message {
  font-style: italic;
  color: gray;
  padding: 1rem;
}

.wishlist-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 250px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.wishlist-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.wishlist-form button[type="submit"] {
  padding: 10px;
  background-color: #3174f0;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.wishlist-form button[type="submit"]:hover {
  background-color: #1258db;
}
