<button class="add-btn" (click)="toggleForm()">+ Add to WishList</button>

@if (showAddForm) {
  <form (ngSubmit)="addWishListItem(form)" #form="ngForm" class="wishlist-form">
    <input name="name" [(ngModel)]="newDesiredItem.itemName" placeholder="Name" required />
    <input name="itemDescription" [(ngModel)]="newDesiredItem.itemDescription" placeholder="Description" />
    <input name="releaseDate" type="date" [(ngModel)]="newDesiredItem.releaseDate" />
    <input name="itemVersion" [(ngModel)]="newDesiredItem.itemVersion" placeholder="Version" />
    <input name="itemEdition" [(ngModel)]="newDesiredItem.itemEdition" placeholder="Edition" />
    <button type="submit">Save</button>
  </form>
}
@if(wishList != null) {
  <h2>{{ collection.collectionName }}'s Wishlist</h2>
  @if(wishList.length > 0) {
    <div class="wishlist-container">
      @for (wishListitem of wishList; track wishListitem.desiredObjectId) {
        <app-wishlist-item-card [wishlistItem]='wishListitem' (deleteWishListItem)="removeItemFromWishList($event)"></app-wishlist-item-card>
      }
    </div>
  } @else {
    <p>This Wishlist is empty.</p>
  }

} @else {
  <h2>Loading wishlist...</h2>
}
