<footer class="footer-container">
  <app-footer-column [title]="'Information'" [links]="infoLinks"></app-footer-column>
  <app-footer-column [title]="'Buy Collections'" [links]="buyLinks"></app-footer-column>
  <app-footer-column [title]="'Sell Collections or Items'" [links]="sellLinks"></app-footer-column>

    <div class="my-rareblu">
    <h4>My RareBlu</h4>
    <a class="button-dynamic" routerLink="/login">Login</a>
    <a class="button-dynamic" routerLink="/register">Register</a>
  </div>
 
  <div class="social-icons">
    <a href="https://facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
    <a href="https://instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
    <a href="https://twitter.com" target="_blank"><i class="bi bi-twitter-x"></i></a>
  </div>
</footer>
