
/* Nav BAr superiore */
.top-navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
  background-color: #fbfbfb;
  height: 100px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 2px solid #e7e4e4;
}

/* Logo */
.logo img {
  height: 130px;
  width: 130px;
}

/* ricerche */
.search-containers{
  display: flex;
  margin: 0 50px;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

/* Categorie dropdown */
/* .categories-dropdown {
  position: relative;
  margin-top:6px;
}

.dropbtn {
  background-color: transparent;
  color: #1a73e8;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 6px;
  transition: background-color 0.2s;
}

.dropbtn:hover {
  background-color: #f1f3f4;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.categories-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #1e232a;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e8f0fe;
} */

/* SEARCH BAR */
.search-bar {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 500px;
  margin: 0 20px;
  margin-bottom: 30px;
  background-color: #f1f3f4;
  border-radius: 3px;
  padding: 6px 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);

}

.search-bar input[type="text"] {
  flex: 1;
  justify-content: end;
  border: none;
  background: transparent;
  font-size: 15px;
  padding: 10px;
  outline: none;
}

.search-bar button {
  color: #1a73e8;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}

.search-bar button:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

/* AUTH LINKS */
.auth-links {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 30px;
}

.auth-links a,
.auth-links button {
  background-color: #1a73e8;
  /* Blu cobalto */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.auth-links a:hover,
.auth-links button:hover {
  background-color: #1669c1;
  /* tono leggermente più scuro */
}


/*Nav bar inferiore*/
.navbar {
  background-color: #fff;
  border-bottom: 3px solid #1a73e8;
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
  height: 100px;
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-links li,
.auth-links li {
  margin-left: 16px;
}

.nav-links a,
.nav-links button {
  background: none;
  border: none;
  font-size: 15px;
  padding: 8px 14px;
  border-radius: 6px;
  color: #1a73e8;
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links button:hover {
  background-color: #f1f3f4;
}

.auth-links {
  display: flex;
  margin-left: auto;
  align-items: center;
}
 /* Scroll orizzontale per le catgories */
.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 15px;
  padding: 10px 0;
  position: relative;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container :hover{
  border-bottom: 3px solid #1a73e8;

}

/* Bottoni invisibili a sinistra e destra */
.scroll-left,
.scroll-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  cursor: pointer;
  z-index: 20;
  background: rgba(207, 215, 222, 0.1);
  transition: 0.9s, opacity 0.3s;
}

.scroll-left:hover,
.scroll-right:hover {
  background: rgba(54, 77, 102, 0.2);
}

.scroll-left {
  left: 0;
}

.scroll-right {
  right: 0;
}



.category-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;
  padding: 10px;
  background: #f4efef;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  text-align: center;
  transition: background-color 0.3s;
}

.category-scroll .active {
  background: #8a8add;
}

.category-scroll div {
  font-size: 16px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.category-scroll a {
  font-size: 28px;
  color: #444;
  text-decoration: none;
  transition: transform 0.2s, color 0.2s;
}

.category-scroll a:hover {
  color: #007bff;
  transform: scale(1.1);
}

.category-scroll :hover {
  transform: scale(1.1);
  border-bottom: none;
  text-decoration: none;
  text-underline-offset: 2px;

}


.category-scroll .underline {
  height: 3px;
  background-color: #dfe3e7;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px;
}


/*  Finestra modal category  */



.open-modal-btn {
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fdfdfd;
  color: #1a73e8;
  border: none;
  border-radius: 8px;
}

.category-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 96%;
  max-width: 1400px;
  background: rgba(250, 246, 246, 0.956);
  border-radius: 8px;
  padding: 50px;
  max-height: 96vh;
  overflow-y: auto;
   box-sizing: border-box;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  gap: 80px;
  margin-top: 80px;
}

.category-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  border-radius: 3px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  text-decoration: none;
  color: #222;
  font-size: 22px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.category-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.category-text {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  unicode-bidi: isolate;

  font-size: 22px; /* opzionale: leggermente più grande */
  color: #2b2b2b;  /* un grigio elegante */
}

.category-image {
  width: 160px;
  height: 160px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  background-color: #e0e0e0; /* per sicurezza se l’immagine non carica */
  transition: transform 0.3s ease;
}

.category-card:hover .category-image img {
  transform: scale(1.1);
}

.category-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.modal-content h2 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 40px;
}
/*  Finestra modal category  */


.open-modal-btn {
  padding:10px 16px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fbfbfb;
  color: #1a73e8;
  border: none;
  border-radius: 8px;
}

.category-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 96%;
  max-width: 1400px;
  background: rgba(250, 246, 246, 0.956);
  border-radius: 8px;
  padding: 50px;
  max-height: 96vh;
  overflow-y: auto;
   box-sizing: border-box;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  gap: 80px;
  margin-top: 80px;
}

.category-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  border-radius: 3px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  text-decoration: none;
  color: #222;
  font-size: 22px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.category-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.category-text {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  unicode-bidi: isolate;

  font-size: 22px; /* opzionale: leggermente più grande */
  color: #2b2b2b;  /* un grigio elegante */
}

.category-image {
  width: 160px;
  height: 160px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  background-color: #e0e0e0; /* per sicurezza se l’immagine non carica */
  transition: transform 0.3s ease;
}

.category-card:hover .category-image img {
  transform: scale(1.1);
}

.category-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.modal-content h2 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 40px;
}
