
/* Nav BAr superiore */
.top-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 30px;
  background-color: #fbfbfb;
  height: 100px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 2px solid #e7e4e4;
}

/* Logo */
.logo img {
  height: 130px;
  width: 130px;
}

/* Categorie dropdown */
.categories-dropdown {
  position: relative;
}

.dropbtn {
  background-color: transparent;
  color: #1a73e8;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 6px;
  transition: background-color 0.2s;
}

.dropbtn:hover {
  background-color: #f1f3f4;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.categories-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #1e232a;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e8f0fe;
}

/* SEARCH BAR */
.search-bar {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 500px;
  margin: 0 400px;
  background-color: #f1f3f4;
  border-radius: 3px;
  padding: 6px 70px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="text"] {
  flex: 1;
  justify-content: end;
  border: none;
  background: transparent;
  font-size: 15px;
  padding: 10px;
  outline: none;
}

.search-bar button {
  background: #1a73e8;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.search-bar button:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

/* AUTH LINKS */
.auth-links {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;

}

.auth-links a,
.auth-links button {
  background-color: #1a73e8;
  /* Blu cobalto */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.auth-links a:hover,
.auth-links button:hover {
  background-color: #1669c1;
  /* tono leggermente più scuro */
}


/*Nav bar inferiore*/
.navbar {
  background-color: #fff;
  border-bottom: 3px solid #1a73e8;
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
  height: 100px;
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-links li,
.auth-links li {
  margin-left: 16px;
}

.nav-links a,
.nav-links button {
  background: none;
  border: none;
  font-size: 15px;
  padding: 8px 14px;
  border-radius: 6px;
  color: #1a73e8;
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links button:hover {
  background-color: #f1f3f4;
}

.auth-links {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 15px;
  padding: 10px 0;
  position: relative;
  scrollbar-width: none; 
}

.scroll-container::-webkit-scrollbar {
  display: none; 
}

.scroll-container :hover{
  border-bottom: 3px solid #1a73e8;

}

/* Bottoni invisibili a sinistra e destra */
.scroll-left,
.scroll-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  cursor: pointer;
  z-index: 20;
  background: rgba(207, 215, 222, 0.1);
  transition: 0.9s, opacity 0.3s;
}

.scroll-left:hover,
.scroll-right:hover {
  background: rgba(54, 77, 102, 0.2);
}

.scroll-left {
  left: 0;
}

.scroll-right {
  right: 0;
}


.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;
  padding: 10px;
  background: #f4efef;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  text-align: center;
  transition: background-color 0.3s;
}

.category.active {
  background: #8a8add;
}

.category span {
  font-size: 16px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.category a {
  font-size: 28px;
  color: #444;
  text-decoration: none;
  transition: transform 0.2s, color 0.2s;
}

.category a:hover {
  color: #007bff;
  transform: scale(1.1);
}

.category :hover {
  
  transform: scale(1.1);
  border-bottom: none;
  text-decoration: none;
  text-underline-offset: 2px;
  
}



.category .underline {
  height: 3px;
  background-color: #dfe3e7;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px;
}


