<nav class="top-navbar">
  <div class="logo">
    <a routerLink="/home"><img src="logo.png" alt="Logo" height="40" /></a>
  </div>

  <div class="search-containers">
    <div class="categories-dropdown">
      <button class="dropbtn">Categories ▼</button>
      <div class="dropdown-content">
        @for(c of list; track c.categoryId){
        <a [routerLink]="['/collection-list']" [queryParams]="{ categoryId: c.categoryId }">{{c.categoryName}}</a>
        }
      </div>
    </div>

    <div class="search-bar">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Cerca..." />
      <button (click)="search()"><i class="bi bi-search"></i></button>
    </div>
  </div>

  <div class="auth-links">
    @if (currentUser == null) {
    <a routerLink="/login">Login</a>

    <a routerLink="/register">Register</a>
    } @else {
    <button (click)="logout()">Logout</button>
    }
  </div>
</nav>

<!-- La nav bar  inferiore  -->
<nav class="navbar">
  <ul class="nav-links">
    <li><a routerLink="/home">HOME</a></li>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    @if (currentUser != null) {
    <li><a [routerLink]="['/user-profile', currentUser.userId]">My Profile</a></li>
    <li><a routerLink="/collection-form">Add New Collection</a></li>
    }
  </ul>
</nav>

<!-- Scroll Container Category -->
<div style="position: relative;">
  <div class="scroll-left" (mouseenter)="startScroll(-1)" (mouseleave)="stopScroll()"></div>


  <div class="scroll-container" #scrollContainer>
    <div class="category" *ngFor="let c of list">
      <a [routerLink]="['/collection-list']" [queryParams]="{ categoryId: c.categoryId }">
        <i class="bi" [ngClass]="iconMap[c.categoryId]"></i>
      </a>
      <span>{{ c.categoryName }}</span>
    </div>
  </div>

  <div class="scroll-right" (mouseenter)="startScroll(1)" (mouseleave)="stopScroll()"></div>
</div>
