@if(collection != null){
  @if(collection.visibility != "visible" && ((currentUser != null && collection.userId != currentUser.userId) || currentUser == null)){
    <h2>Oh-oh! You're not supposed to see this! <a [routerLink]="['/dashboard']">Go back to Dashboard</a></h2>
  } @else {
    <div class="collection-info">
      <div class="collection-header">
        <h2>{{ collection.collectionName }}</h2>

        @if(currentUser != null && currentUser.userId == collection.userId){
          @if(collection.visibility == "visible"){
            <button class="visibility-btn" (click)="toggleVisibility()"><i class="bi bi-eye"></i></button>
          } @else {
            <button class="visibility-btn" (click)="toggleVisibility()"><i class="bi bi-eye-slash"></i></button>
          }
        }
      </div>

      <p><strong>Description:</strong> {{ collection.description }}</p>
      <p><strong>Date:</strong> {{ collection.collectionDate }}</p>
      <p><strong>Sale Price:</strong> €{{ collection.salePrice }}</p>

      @if(currentUser != null && collection.userId == currentUser.userId){
        <div class="collection-actions">
          <button [routerLink]="['/item-add', collection.collectionId, collection.userId]">Add New Item</button>
          <button (click)="navigateToEdit()">Update Data</button>
          <button [routerLink]="['/wishlist', collection.collectionId]">View Wishlist</button>
        </div>
      }
    </div>
    <div class="item-container">
      @if(currentUser != null && collection.userId != currentUser.userId){
        @for (i of list; track i.itemId) {
          <app-item-card [item]="i" (deleteItem)="handleDelete($event)"></app-item-card>
        }
      } @else {
        @for (i of list; track i.itemId) {
          <app-item-card [item]="i" (deleteItem)="handleDelete($event)"></app-item-card>
        }
      }
    </div>
  }
} @else {
  <h2>Caricando la collection...</h2>
}
