@if(collection != null){
  <div class="collection-details">
    <p>Name Collection: {{ collection.collectionName }}</p>
    <p>Description Collection: {{ collection.description }}</p>
    <p>Collection Date: {{ collection.collectionDate }}</p>
    <p>visibility: {{ collection.visibility }}</p>
    <p>salePrice: {{ collection.salePrice }}</p>

    @if(currentUser != null && collection.userId == currentUser.userId){
      <div class="collection-actions">
        <button [routerLink]="['/item-add', collection.collectionId, collection.userId]">Add New Item</button>
        <button (click)="navigateToEdit()">Update Data</button>
        <button [routerLink]="['/wishlist', collection.collectionId]">Visualizza Wishlist</button>
      </div>
    }
  </div>

  <div class="item-container">
    @for (i of list; track i.itemId) {
      <app-item-card [item]="i" (deleteItem)="handleDelete($event)"></app-item-card>
    }
  </div>
} @else {
  <h2>Caricando la collection...</h2>
}
