<div class="register-container">
  <h2>Registrati</h2>

  <p class="register-message">
    <a routerLink="/login">Sei già registrato? Accedi da qui.</a>
  </p>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
    <div class="form-group">
      <label for="name">Nome</label>
      <input id="name" formControlName="name" type="text" required>
    </div>

    <div class="form-group">
      <label for="lastname">Cognome</label>
      <input id="lastname" formControlName="lastname" type="text" required>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" required>
    </div>

    <div class="form-group">
      <label for="country">Paese</label>
      <input id="country" formControlName="country" type="text" required>
    </div>

    <button type="submit">Registrati</button>
  </form>
</div>
