.item-list{
  padding-top: 70px;
  font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h2, p, p a{
  font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
