<h1 class="profile-title">User Profile</h1>

@if (owner != null) {
  <div class="profile-card">
    @if(currentUser != null && currentUser.userId == owner.userId){
      <button class="bookmark-btn" [routerLink]="['/bookmarkslist', currentUser.userId]">See Bookmarks</button>
    }
    <p><strong>Name:</strong> {{ owner.name }}</p>
    <p><strong>Lastname:</strong> {{ owner.lastname }}</p>
    <p><strong>Email:</strong> {{ owner.email }}</p>
    <p><strong>{{ owner.name }}'s Collections:</strong></p>
  </div>

  <div class="dashboard-container">
    @for (c of list; track c.collectionId) {
      <app-collection-card
        [collection]="c"
        (deleteCollection)="handleDelete($event)">
      </app-collection-card>
    }
  </div>
} @else {
  <h2>Caricamento in corso...</h2>
}
