<div class="login-container">
  <h2>Accedi</h2>

  <p class="login-message">
    <a routerLink="/register">Ancora non sei registrato? Registrati e visualizza tutte le nostre collezioni!</a>
  </p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="text" required>
    </div>

    <div class="password-field">
      <label for="password">Password</label>
      <input [type]="show ? 'text' : 'password'" id="password" formControlName="password"
        class="form-control password-input" required />
      <i class="{{ show ? 'bi bi-eye-slash' : 'bi bi-eye' }}" (click)="toggle()"></i>
    </div>


    <button type="submit">Login</button>
  </form>
</div>