<div class="form-header">
  <h2>Update Your Item</h2>
  <p>Fill in the details of your new update item below.</p>
</div>
@if(item != null){

<form class="item-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div>
    <label for="itemName">Item Name</label>
    <input name="itemName" [(ngModel)]="item.itemName" id="itemName" type="text" required>
  </div>

  <div>
    <label for="itemDescription">Description</label>
    <input name="itemDescription" [(ngModel)]="item.itemDescription" id="itemDescription" type="text">
  </div>

  <div>
    <label for="itemCollection">Collection</label>
    <select [(ngModel)]="item.collectionId" id="collectionId" name="collectionId">
      <option value="" disabled>-- Choose collection --</option>
      @for(c of collections; track c.collectionId){
        <option value="{{c.collectionId}}">{{c.collectionName}}</option>
      }
    </select>
  </div>

  <div class="photo-upload">
    <label for="itemPhoto">Update your item photo</label>
    <input id="itemPhoto" type="file" (change)="onFileSelected($event)">
  </div>

  <!-- Anteprima della foto -->
<div *ngIf="item?.itemPhoto" class="photo-preview">
  <img [src]="item.itemPhoto" alt="Item Photo Preview">
</div>

  <div class="toggle-switch">
    <label class="switch-label" for="forSale">
      In vendita
      <input type="checkbox" id="forSale" name="forSale" [(ngModel)]="item.forSale" />
      <span class="slider"></span>
    </label>
  </div>

  <div>
    <label for="itemSalePrice">Sale Price (€)</label>
    <input name="itemSalePrice" [(ngModel)]="item.salePrice" id="itemSalePrice" type="number">
  </div>

  <button type="submit">Update</button>
</form>
}
