<div class="form-header">
  <h2>Add New Item</h2>
  <p>Fill in the details of your new item below.</p>
</div>

<form class="item-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div>
    <label for="itemName">Item Name</label>
    <input name="itemName" [(ngModel)]="item.itemName" id="itemName" type="text" required>
  </div>

  <div>
    <label for="itemDescription">Description</label>
    <input name="itemDescription" [(ngModel)]="item.itemDescription" id="itemDescription" type="text">
  </div>


  <div>
    <label for="condition">Condition</label>
    <input name="condition" [(ngModel)]="item.condition" id="condition" type="text">
  </div>
  <div>
    <label for="edition">Edition</label>
    <input name="edition" [(ngModel)]="item.itemEdition" id="edition" type="text">
  </div>
  <div>
    <label for="version">Version</label>
    <input name="version" [(ngModel)]="item.itemVersion" id="version" type="text">
  </div>
  <div>
    <label for="releaseDate">Release Date</label>
    <input name="releaseDate" [(ngModel)]="item.releaseDate" id="releaseDate" type="date">
  </div>

  <div>
    <label for="itemSalePrice">Sale Price (€)</label>
    <input name="itemSalePrice" [(ngModel)]="item.salePrice" id="itemSalePrice" type="number">
  </div>

  <div class="toggle-switch">
    <label class="switch-label" for="forSale">
      In vendita
      <input type="checkbox" id="forSale" name="forSale" [(ngModel)]="item.forSale" />
      <span class="slider"></span>
    </label>
  </div>

  <div class="photo-upload">
    <label for="itemPhoto">Add Photo for yout item</label>
    <input id="itemPhoto" type="file" (change)="onFileSelected($event)">
  </div>

  <div *ngIf="item?.itemPhoto" class="photo-preview">
    <img [src]="item.itemPhoto" alt="Item Photo Preview">
  </div>

  <button type="submit">Save</button>
</form>