
 .collection-card {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;

}

.card-header {
  background-color: #1a73e800;
  color: rgb(157, 151, 151);
  padding: 0 0px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
}

.card-header a {
  font-size: 0.9rem;
  color: rgb(124, 117, 117);
  text-decoration: none;
}

.card-body {
  padding: 16px;
  padding-top: 10;
}

.title{
  display: flex;
  justify-content: space-between;
}

.card-body h2 {
  margin: 0 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;

  /* overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.2;
  line-clamp: inherit; */
}

.current-user-actions {
  margin-top: 0;
  min-width: 90px;
}

.current-user-actions button {
  background: none;
  border: none;
  color: #1a73e8;
  font-size: 1.2rem;
  margin-left: 10px;
  cursor: pointer;
  padding: 0;
}

.card-body .description {
  font-style: italic;
  margin-bottom: 12px;
}

.collection-meta p {
  margin: 4px 0;
  color: #333;
}

.collection-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  width: 100%;
  height: 450px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 2px;

}

.collection-img.one-item {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.collection-img.two-items {
  grid-template-columns: repeat(2, 1fr);
}

.collection-img.three-items {
  grid-template-columns: repeat(1fr 1fr);
  grid-template-rows: repeat(1fr 1fr);
    grid-template-areas:
    "a c"
    "b c";
}
.three-items :last-child { grid-area: c; }

.item-photo {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.item-count {
  background-color: rgba(144, 170, 210, 0.571);
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-photo img {
  transition: transform 0.3s ease;
}

.item-photo:hover img {
  transform: scale(1.05);
}

.card-footer {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eaeaea;
}

.description-box{

  overflow: hidden;
  font-size: 0.95rem;
  line-height: 1.4;
  margin-top: 8px;
}

.description-box.expanded {
  max-height: none;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  transition: all 0.3s ease;
  min-height: 40px;
}

.description.collapsed {
  -webkit-line-clamp: 2;
  line-clamp:calc();
}
.toggle-description {
  background: none;
  border: none;
  color: #1a73e8;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-underline-offset: 2px;
  display: block;
  margin-left: auto;
  margin-bottom: 15px;
}
.sale{
  text-align: end;
  margin: 0;
}

#view {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.interact button {
  background: none;
  border: none;
  color: #1a73e8;
  font-size: 1.3rem;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.interact button:hover {
  transform: translateY(-2px);
}
