<form [formGroup]="collectionForm" (ngSubmit)="onSubmit()">

  <!-- Nome Collezione -->
  <div>
    <input formControlName="collectionName" type="text" id="collectionName" placeholder="Name Collection">
    @if (collectionName?.invalid && collectionName?.touched) {
      <p>Insert name collection</p>
    }
  </div>

  <!-- Descrizione -->
  <div>
    <input formControlName="description" type="text" id="description" placeholder="Description">
    @if (description?.invalid && description?.touched) {
      <p>Insert collection's description</p>
    }
  </div>

  <!-- Data della collezione -->
  <div>
    <input formControlName="collectionDate" type="date" id="collectionDate">
    @if (collectionDate?.invalid && collectionDate?.touched) {
      <p>Insert collection's date</p>
    }
  </div>

  <!-- Categoria -->
  <div>
    <select formControlName="categoryId" id="category">
      <option value="" disabled>-- Choose category --</option>
      <option value="1">Arte</option>
      <option value="2">Musica</option>
      <option value="3">Libri</option>
    </select>
    @if (categoryId?.invalid && categoryId?.touched) {
      <p>Insert category</p>
    }

  </div>

  <!-- In vendita -->
  <div>
    <label>
      <input type="checkbox" formControlName="forSale"> In vendita
    </label>
  </div>

  <!-- Prezzo -->
  <div>
    <input formControlName="salePrice" type="number" id="salePrice" placeholder="Price (€)">
    @if (salePrice?.invalid && salePrice?.touched) {
      <p>Insert valid price</p>
    }
  </div>

  <!-- Completata -->
  <div>
    <label>
      <input type="checkbox" formControlName="completed"> Completata
    </label>
  </div>

  <!-- visibilità -->
  <div>
    <select formControlName="visibility" id="visibility">
      <option value="visible">Pubblica</option>
      <option value="hidden">Privata</option>
    </select>
  </div>

  <button type="submit" [disabled]="collectionForm.invalid">Submit</button>
</form>
